/* css variables */
:root {
	--main-color: #341539;
	--secondary-color: #ff536e;
	--secondary-color-darkened: #de4960;
	--secondary-color-darkened2: #bb3c4f;
	--secondary-color-darkened3: rgb(161, 54, 70);
	--secondary-color-darkened4: rgba(161, 54, 70, .5);
}

/* override */

html,
body,
#root {
	color: var(--main-color);
	overflow-x: hidden;
}

/* Custom Classes */
.bg-main-color {
	background-color: var(--main-color);
}

.text-secondary-color {
	color: var(--secondary-color);
}

.btn-secondary-color,
.btn-secondary-color:hover,
.btn-secondary-color:active,
.btn-secondary-color:not(:disabled):not(.disabled):active,
.btn-secondary-color:not(:disabled):not(.disabled).active,
.show>.btn-secondary-color.dropdown-toggle {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}

.btn-secondary-color:focus,
.btn-secondary-color:not(:disabled):not(.disabled):active:focus,
.btn-secondary-color:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary-color.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 0.2rem var(--secondary-color-darkened4);
	box-shadow: 0 0 0 0.2rem var(--secondary-color-darkened4);
}

.btn-secondary-color:hover {
	box-shadow: inset 0 0 0 20rem var(--secondary-color-darkened);
}

.btn-secondary-color:active {
	box-shadow: inset 0 0 0 20rem var(--secondary-color-darkened2),
		inset 0 3px 4px 0 var(--secondary-color-darkened3),
		0 0 1px var(--secondary-color-darkened2);
}

.btn-secondary-color:disabled,
.btn-secondary-color.is-disabled {
	opacity: .5;
}

.btn-secondary-color-light {
	color: var(--secondary-color);
	font-weight: 600;
	font-size: 1.1rem;
	letter-spacing: .09rem;
}

.btn-secondary-color-light:hover,
.btn-light:not(:disabled):not(.disabled):active,
.btn-secondary-color-light:not(:disabled):not(.disabled):active,
.btn-secondary-color-light:not(:disabled):not(.disabled).active,
.show>.btn-secondary-color-light.dropdown-toggle {
	color: var(--main-color);
}


@media (min-width: 1281px) {

	/* Custom Shapes */
	.shape-container {
		width: 850px;
		height: 850px;
		position: absolute;
		left: 75%;
		top: -120px;
	}

	.shape1 {
		height: 600px;
		width: 600px;
		background-image: linear-gradient(to left bottom, #341539, #A10BE2);
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		opacity: 0.9;
		border-radius: 40px;
		transform: rotate(45deg);
		position: absolute;
		z-index: -1;
	}

	.shape2 {
		height: 600px;
		width: 600px;
		background-image: linear-gradient(to left top, #FC3832, #ff536e);
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
		opacity: 0.9;
		border-radius: 40px;
		transform: rotate(75deg);
		position: absolute;
		z-index: -2;
	}

	.shape3 {
		width: 300px;
		height: 300px;
		background-image: linear-gradient(to left, #ffffff, #ff536e);
		position: absolute;
		transform: rotate(45deg);
		border-radius: 40px;
		left: -10%;
		z-index: -3;
	}

	/* Scrollbarless Scroll */
	.scroll-parent{
		height: 45vh;
		width: 110vw;
		overflow-y: scroll;
		padding-right: 51.382vw;
	}
	.scroll-child {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 0;
		margin-left: 0;
	}
}